# To see more info on any function,place the blinking cusor before the function braclets and press shift+tab

# Introduction to Pandas

In [1]:
#To use pandas just like numpy, you import pandas as shown below
import pandas as pd
import numpy as np

In [2]:
#data series contain only one row or column
#data frame is a combination of with multiple rows and columns

In [3]:
#creating a data frame
#let's first create some arrays from the lists below:
muhsin = ["Muhsin",27,"Graduate"]
mutawakkil = ["Mutawakkil",23,"Penultimate level"]
mahbub = ["Mahbub", 20, "Fresher"]
adnan =["Adnan", 17, "Awaiting Admission"]
myArr = np.array([muhsin,mutawakkil,mahbub,adnan])
print(myArr)

[['Muhsin' '27' 'Graduate']
 ['Mutawakkil' '23' 'Penultimate level']
 ['Mahbub' '20' 'Fresher']
 ['Adnan' '17' 'Awaiting Admission']]

In [4]:
#we now use pd.DataFrame to create the data frame
#this function recieves the data parameter(ARRAY), index(Row titles/headings), and columns(column titles/headings)
#the number of elements in the index must be equal to the number of rows in the given array
#also the number of elements in the columns must be equal to the number of columns in the given array
dataFrame = pd.DataFrame(data = myArr, index = [1,2,3,4], columns = ["Names","Age","Educational Status"])

#other parameters that the function recieves will be discussed later

In [5]:
#the function .head returns 'n' number of rows as passed to it, if no value is passed it returns all rows available
dataFrame.head()

        Names Age  Educational Status
1      Muhsin  27            Graduate
2  Mutawakkil  23   Penultimate level
3      Mahbub  20             Fresher
4       Adnan  17  Awaiting Admission

In [6]:
#Example of when a number is passed to .head function
dataFrame.head(1)

    Names Age Educational Status
1  Muhsin  27           Graduate

In [7]:
#We can convert a dataframe we've created here into a csv file using .to_csv(). Example
dataFrame.to_csv('Example1.csv')
#and once executed we can find our csv file in the same folder with our program

# Accessing elements from a dataframe

In [8]:
#using .loc[] which access only row elements, and can recieve only one parameter at a time. Example:
dataFrame.loc[2]

Names                        Mutawakkil
Age                                  23
Educational Status    Penultimate level
Name: 2, dtype: object

In [9]:
#using .iloc[] which is similar to accessing multidimensional arrays in numpy
#[row index,column index] in both cases a:b mean from index "a" to index "b-1"
#When no number is passed for example [:] it means accesss everything
#when no ending is specified for example [a:] it means from index "a" to the last element 
#Example
dataFrame.iloc[2:,0:2]

    Names Age
3  Mahbub  20
4   Adnan  17

In [ ]:
#by calling name of column(s), example:
#for more than one column, use two square brackets instead of one
dataFrame[['Names','Age','Educational Status']]

        Names Age  Educational Status
1      Muhsin  27            Graduate
2  Mutawakkil  23   Penultimate level
3      Mahbub  20             Fresher
4       Adnan  17  Awaiting Admission

In [10]:
# converting a dataframe into an array using .values
dataFrame.values

array([['Muhsin', '27', 'Graduate'],
       ['Mutawakkil', '23', 'Penultimate level'],
       ['Mahbub', '20', 'Fresher'],
       ['Adnan', '17', 'Awaiting Admission']], dtype=object)

In [11]:
# you can select which part of the dataframe to convert using .iloc[:,:].values
dataFrame.iloc[2:,0:2].values

array([['Mahbub', '20'],
       ['Adnan', '17']], dtype=object)

In [ ]:
#using .nul() to check if there is a missing data from the dataframe especially if imported, example:
dataFrame.isnull()

   Names    Age  Educational Status
1  False  False               False
2  False  False               False
3  False  False               False
4  False  False               False

In [ ]:
dataFrame.isnull().sum()
#this wiil return the number of omitted data from each column

Names                 0
Age                   0
Educational Status    0
dtype: int64

# Reading csv files and
# Using some inbuilt functions to perform operations

In [16]:
#to import, we use pd.read_csv() and pass the file name in a qoutes
# a csv must not be comma seperated only, though the means of seperation must be indicated. 
#Example: if it's a semi colon seperated,it will be pd.read_csv('fifa24.csv', sep = ';')
df = pd.read_csv('fifa24.csv')

In [17]:
df.head()

,Player_name,Images,Age,National_team,Positions,Overall,Potential_overall,Current_club,Contract_start,Contract_end,Value,Wage,Total_stats
0,T. Almada,https://cdn.sofifa.net/players/245/371/24_60.png,22,Argentina,"CAM, CM, CF",79,87,Atlanta United,2022,2025,39500000,10000,2050
1,L. Palma,https://cdn.sofifa.net/player_0.svg,23,Honduras,LW,69,75,Celtic,2023,2028,2200000,22000,1794
2,R. Lavia,https://cdn.sofifa.net/players/263/620/24_60.png,19,Belgium,CDM,73,86,Chelsea,2023,2030,7000000,32000,1829
3,W. Zaïre-Emery,https://cdn.sofifa.net/players/270/673/24_60.png,17,France,"CM, CDM",77,89,Paris Saint Germain,2022,2025,24000000,9000,2080
4,Gabri Veiga,https://cdn.sofifa.net/players/258/729/24_60.png,21,Spain,"CM, CAM",78,89,Al Ahli Jeddah,2023,2026,31500000,28000,1944

In [20]:
df.isnull().sum()
#as it can be seen there are 248 missing data from our imported csv file from the Contract_end column
#the .sum() is used so that we can see the number of missing elements, else we will just be seeing TRUE/FALSE 
#Try removing .sum() and see the effect

Player_name            0
Images                 0
Age                    0
National_team          0
Positions              0
Overall                0
Potential_overall      0
Current_club           0
Contract_start         0
Contract_end         248
Value                  0
Wage                   0
Total_stats            0
dtype: int64

In [21]:
#.info gives you information of a csv file
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2306 entries, 0 to 2305
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Player_name        2306 non-null   object
 1   Images             2306 non-null   object
 2   Age                2306 non-null   int64
 3   National_team      2306 non-null   object
 4   Positions          2306 non-null   object
 5   Overall            2306 non-null   int64
 6   Potential_overall  2306 non-null   int64
 7   Current_club       2306 non-null   object
 8   Contract_start     2306 non-null   object
 9   Contract_end       2058 non-null   object
 10  Value              2306 non-null   int64
 11  Wage               2306 non-null   int64
 12  Total_stats        2306 non-null   int64
dtypes: int64(6), object(7)
memory usage: 234.3+ KB

In [ ]:
#.decribe function generate descriptive statistics.
df.describe()

,Age,Overall,Potential_overall,Value,Wage,Total_stats
count,2306.000000,2306.000000,2306.000000,2.306000e+03,2306.000000,2306.000000
mean,24.049870,72.556375,78.978317,1.087117e+07,28703.837814,1786.042931
std,4.513141,6.871525,4.999736,1.688357e+07,38389.661725,259.468657
min,16.000000,49.000000,54.000000,0.000000e+00,0.000000,791.000000
25%,21.000000,68.000000,76.000000,1.900000e+06,5000.000000,1647.250000
50%,23.000000,73.000000,79.000000,4.300000e+06,15000.000000,1820.500000
75%,27.000000,77.000000,82.000000,1.250000e+07,38000.000000,1962.000000
max,44.000000,91.000000,94.000000,1.850000e+08,350000.000000,2323.000000

In [29]:
#The function .value_counts() return the number of occurrance of an element in a given data set
#a column or row can be specified as shown below.The function recieves other parameters 
df['Positions'].value_counts(sort = True, ascending =False)

Positions
CB             264
ST             237
GK             143
CDM, CM        137
CM, CDM         96
              ...
RB, RWB, LB      1
LM, CAM, CF      1
LB, RB, LWB      1
LB, LM, RM       1
CDM, CM, RM      1
Name: count, Length: 346, dtype: int64

In [30]:
#a condional search can be made within a dataset as shown below
df[df['National_team'] == 'Nigeria']

,Player_name,Images,Age,National_team,Positions,Overall,Potential_overall,Current_club,Contract_start,Contract_end,Value,Wage,Total_stats
36,V. Boniface,https://cdn.sofifa.net/players/247/679/24_60.png,22,Nigeria,ST,76,84,Bayer 04 Leverkusen,2023,2028,17000000,42000,1877
64,V. Osimhen,https://cdn.sofifa.net/players/232/293/24_60.png,24,Nigeria,ST,88,91,Napoli,2020,2025,126500000,120000,2063
121,S. Chukwueze,https://cdn.sofifa.net/players/246/172/24_60.png,24,Nigeria,"RW, RM",81,86,Milan,2023,2028,39000000,71000,1929
278,G. Orban,https://cdn.sofifa.net/players/273/564/24_60.png,20,Nigeria,ST,75,84,Gent,2023,2027,12500000,18000,1802
374,R. Onyedika,https://cdn.sofifa.net/players/262/880/24_60.png,22,Nigeria,"CDM, CM",74,85,Club Brugge,2022,2027,9000000,16000,1918
733,T. Moffi,https://cdn.sofifa.net/players/255/000/24_60.png,24,Nigeria,ST,77,81,Nice,2023,2027,15500000,39000,1784
780,C. Bassey,https://cdn.sofifa.net/players/241/436/24_60.png,23,Nigeria,"CB, LB",74,82,Fulham,2023,2027,8500000,46000,1878
841,A. Lookman,https://cdn.sofifa.net/players/230/899/24_60.png,25,Nigeria,"ST, RM, RW",81,83,Atalanta,2022,2026,33000000,62000,1963
941,K. Iheanacho,https://cdn.sofifa.net/players/225/719/24_60.png,26,Nigeria,ST,76,77,Leicester City,2017,2024,9000000,45000,1931
978,E. Dennis,https://cdn.sofifa.net/players/239/015/24_60.png,25,Nigeria,"ST, LW",75,79,İstanbul Başakşehir,"Jun 30, 2024",NaN,8000000,56000,1889
1079,T. Arokodare,https://cdn.sofifa.net/players/258/911/24_60.png,22,Nigeria,ST,69,80,Genk,2023,2027,3200000,8000,1635
1166,H. Onyekuru,https://cdn.sofifa.net/players/234/045/24_60.png,26,Nigeria,LM,74,75,Al Fayha,2023,2025,5000000,23000,1829
1210,O. Aina,https://cdn.sofifa.net/players/224/656/24_60.png,26,Nigeria,"LB, LM, RM",73,74,Nottingham Forest,2023,2024,3300000,41000,1941
1217,B. Osayi-Samuel,https://cdn.sofifa.net/players/227/884/24_60.png,25,Nigeria,"RB, RM",75,77,Fenerbahçe,2021,2025,6500000,26000,1993
1231,U. Sadiq,https://cdn.sofifa.net/players/231/627/24_60.png,26,Nigeria,ST,77,80,Real Sociedad,2022,2028,14000000,34000,1790
1260,P. Onuachu,https://cdn.sofifa.net/players/212/382/24_60.png,29,Nigeria,ST,74,74,Trabzonspor,"Jun 30, 2024",NaN,4200000,42000,1773
1350,M. Usor,https://cdn.sofifa.net/players/271/092/24_60.png,21,Nigeria,RM,70,76,LASK Linz,"Dec 31, 2023",NaN,2600000,550,1807
1446,O. Nwobodo,https://cdn.sofifa.net/players/258/881/24_60.png,26,Nigeria,"CDM, CM",72,75,Cincinnati,2022,2024,2800000,6000,1962
1447,F. Dele-Bashiru,https://cdn.sofifa.net/players/258/890/24_60.png,22,Nigeria,"CAM, CM",68,75,Hatayspor,2023,2025,2500000,6000,1841
1568,S. Odey,https://cdn.sofifa.net/players/241/659/24_60.png,25,Nigeria,ST,68,73,Randers,2021,2024,1800000,6000,1718
1603,J. Aribo,https://cdn.sofifa.net/players/231/044/24_60.png,26,Nigeria,"CM, CAM",73,74,Southampton,2022,2026,3600000,34000,2009
1728,A. Iwobi,https://cdn.sofifa.net/players/213/655/24_60.png,27,Nigeria,"RM, CM",76,76,Fulham,2023,2028,8000000,66000,1926
1854,B. Ogungbayi,https://cdn.sofifa.net/player_0.svg,19,Nigeria,"LW, ST, RW",62,74,Slavia Praha,2023,2024,950000,500,1518
2053,D. Abiama,https://cdn.sofifa.net/players/257/190/24_60.png,24,Nigeria,ST,67,72,SpVgg Greuther Fürth,2020,2024,1600000,4000,1572

In [ ]:
# A logical search can also be made & = and, | = or, ~ = not. Example
df[(df['Age'] <= 20) & (df['Overall'] > 80) & (df['Potential_overall'] >= 90)]

,Player_name,Images,Age,National_team,Positions,Overall,Potential_overall,Current_club,Contract_start,Contract_end,Value,Wage,Total_stats
9,J. Bellingham,https://cdn.sofifa.net/players/252/371/24_60.png,20,England,"CAM, CM",87,91,Real Madrid,2023,2029,112000000,190000,2265
18,F. Wirtz,https://cdn.sofifa.net/players/256/630/24_60.png,20,Germany,"CAM, CM",85,91,Bayer 04 Leverkusen,2020,2027,83500000,65000,2057
21,J. Musiala,https://cdn.sofifa.net/players/256/790/24_60.png,20,Germany,"CAM, CM, LM",86,93,FC Bayern München,2020,2026,134500000,79000,2091
90,Gavi,https://cdn.sofifa.net/players/264/240/24_60.png,18,Spain,"CM, LW",83,90,FC Barcelona,2020,2026,68500000,60000,2070
136,Pedri,https://cdn.sofifa.net/players/251/854/24_60.png,20,Spain,CM,86,92,FC Barcelona,2020,2026,105000000,165000,2138

In [ ]:
#the "isin()" function
df[df["National_team"].isin(['Nigeria','England','Poland'])]

,Player_name,Images,Age,National_team,Positions,Overall,Potential_overall,Current_club,Contract_start,Contract_end,Value,Wage,Total_stats
5,J. Bellingham,https://cdn.sofifa.net/players/270/964/24_60.png,17,England,"CAM, CM",64,82,Sunderland,2023,2028,1500000,1000,1714
9,J. Bellingham,https://cdn.sofifa.net/players/252/371/24_60.png,20,England,"CAM, CM",87,91,Real Madrid,2023,2029,112000000,190000,2265
16,R. Lewis,https://cdn.sofifa.net/players/271/574/24_60.png,18,England,"RB, CDM",74,87,Manchester City,2022,2028,9500000,21000,1822
34,C. Palmer,https://cdn.sofifa.net/players/257/534/24_60.png,21,England,"RW, CAM",69,82,Chelsea,2023,2030,3400000,31000,1766
36,V. Boniface,https://cdn.sofifa.net/players/247/679/24_60.png,22,Nigeria,ST,76,84,Bayer 04 Leverkusen,2023,2028,17000000,42000,1877
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2270,J. Diamond,https://cdn.sofifa.net/players/241/452/23_60.png,22,England,"LW, LM",65,73,Lincoln City,"Jun 30, 2023",NaN,1600000,5000,1663
2274,M. Wolfe,https://cdn.sofifa.net/players/241/690/24_60.png,23,England,"CDM, CM",61,67,Barnsley,2017,2024,475000,2000,1574
2290,L. Ashby-Hammond,https://cdn.sofifa.net/players/242/382/24_60.png,22,England,GK,58,68,Crawley Town,"Jun 30, 2024",NaN,400000,6000,843
2299,H. Carter,https://cdn.sofifa.net/players/242/751/24_60.png,23,England,"CB, RB",70,76,Blackburn Rovers,2018,2024,2300000,18000,1700
2300,N. Ferguson,https://cdn.sofifa.net/players/242/752/24_60.png,22,England,"LB, RB",65,71,Crystal Palace,2020,2024,1100000,8000,1581

In [ ]:
df['Age'].count()

2306

# Dealing with JSON files

In [ ]:
#recall, df =  pd.read_csv('fifa24.csv'). we can convert this dataframe df to json format or any other format using
#.to_format('Name_of_file.format')
#orient is like formatting the json files, the types of format are split,records,index,columns,values,table
df.to_json('fifa24.json',orient = 'records')

In [ ]:
#to import, we use pd.read_json() and pass the file name in a qoutes
df1 =  pd.read_json('fifa24.json')

In [ ]:
df1.head(10)

,Player_name,Images,Age,National_team,Positions,Overall,Potential_overall,Current_club,Contract_start,Contract_end,Value,Wage,Total_stats
0,T. Almada,https://cdn.sofifa.net/players/245/371/24_60.png,22,Argentina,"CAM, CM, CF",79,87,Atlanta United,2022,2025,39500000,10000,2050
1,L. Palma,https://cdn.sofifa.net/player_0.svg,23,Honduras,LW,69,75,Celtic,2023,2028,2200000,22000,1794
2,R. Lavia,https://cdn.sofifa.net/players/263/620/24_60.png,19,Belgium,CDM,73,86,Chelsea,2023,2030,7000000,32000,1829
3,W. Zaïre-Emery,https://cdn.sofifa.net/players/270/673/24_60.png,17,France,"CM, CDM",77,89,Paris Saint Germain,2022,2025,24000000,9000,2080
4,Gabri Veiga,https://cdn.sofifa.net/players/258/729/24_60.png,21,Spain,"CM, CAM",78,89,Al Ahli Jeddah,2023,2026,31500000,28000,1944
5,J. Bellingham,https://cdn.sofifa.net/players/270/964/24_60.png,17,England,"CAM, CM",64,82,Sunderland,2023,2028,1500000,1000,1714
6,K. Havertz,https://cdn.sofifa.net/players/235/790/24_60.png,24,Germany,"CAM, RW, ST",82,87,Arsenal,2023,2028,46000000,110000,2044
7,A. Vermeeren,https://cdn.sofifa.net/players/269/859/24_60.png,18,Belgium,"CDM, CM",74,87,Antwerp,2022,2026,9500000,7000,1883
8,R. Højlund,https://cdn.sofifa.net/players/259/399/24_60.png,20,Denmark,ST,77,89,Manchester United,2023,2028,25500000,77000,1841
9,J. Bellingham,https://cdn.sofifa.net/players/252/371/24_60.png,20,England,"CAM, CM",87,91,Real Madrid,2023,2029,112000000,190000,2265

In [ ]:
# .sample is used to obtain a random sample from the dataframe
# frac used here will return 10% random sample from the dataframe, frac cannot be used with "n" and vice versa.
# if frac is > 1, replace should be = true, as by default it is false 
# replace allows the sampling(i.e repeating) a row more than once.    
#YOU CAN CHECK OTHER ARGUEMENTS THAT CAN BE PASSED TO THE sample() function
df1.sample(frac = .1)

,Player_name,Images,Age,National_team,Positions,Overall,Potential_overall,Current_club,Contract_start,Contract_end,Value,Wage,Total_stats
1591,K. Paal,https://cdn.sofifa.net/players/228/120/24_60.png,26,Suriname,"LB, LWB",71,73,Queens Park Rangers,2022,2025,2100000,11000,1917
2085,K. Opoku,https://cdn.sofifa.net/players/259/288/24_60.png,21,Ghana,"CF, RW",69,77,CF Montréal,2023,2024,3200000,4000,1698
63,B. Šeško,https://cdn.sofifa.net/players/260/592/24_60.png,20,Slovenia,ST,75,85,RB Leipzig,2023,2028,12500000,34000,1872
226,G. Kuol,https://cdn.sofifa.net/players/268/460/24_60.png,18,Australia,"LM, RM",64,82,FC Volendam,"Jun 30, 2024",None,1500000,7000,1534
1263,J. Gbamin,https://cdn.sofifa.net/players/214/947/24_60.png,27,Côte d'Ivoire,"CDM, CM",74,74,Everton,2019,2024,4000000,30000,1957
...,...,...,...,...,...,...,...,...,...,...,...,...,...
732,O. Dorley,https://cdn.sofifa.net/players/254/909/24_60.png,24,Liberia,"CM, LB, LM",76,81,Slavia Praha,2019,2027,11500000,1000,2056
880,D. Huseinbašić,https://cdn.sofifa.net/players/269/922/24_60.png,21,Germany,"CM, CDM",69,80,FC Köln,2022,2025,3100000,9000,1777
689,Ó. Zambrano,https://cdn.sofifa.net/players/268/599/24_60.png,19,Ecuador,"CDM, CM",69,82,LDU Quito,2022,2024,3100000,500,1790
376,Vitinha,https://cdn.sofifa.net/players/263/829/24_60.png,23,Portugal,ST,76,81,Olympique de Marseille,2023,2027,11500000,34000,1878
1907,Pau Sans,https://cdn.sofifa.net/player_0.svg,18,Spain,ST,65,80,Real Zaragoza,2023,2025,1700000,1000,1570